@font-face {
	font-family: "Inconsolata";
	src: url(Inconsolata-VariableFont_wdth,wght.ttf);
}
@font-face {
	font-family: "Poppins";
	src: url(Poppins-Bold.ttf);
}
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: "Inconsolata";
}
img {
	display: block;
	width: 100%;
}
.main-header .container {
	padding: 0 20px;
}
.main-header__title {
	text-decoration: none;
	text-align: center;
	font-size: 2.5em;
	margin: 10px 0;
	color: #551A8B;
	font-family: "Poppins";
}
.main-header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
}
.main-header__link {
	color: #333;
}
.main-header__txt {
font-size: 25px;
}
.redes {
	font-size: 30px;
	transition: .3s ease all;
}
.redes:hover {
	color: #FF4E00;
	transform: scale(1.2);
}
.main-title {
	font-size: 2.5em;
	text-align: center;
}
.container-editor {
	margin-top: 20px;
}
.editor__item1 {
	height: 200px;
	position: relative;
	overflow: hidden;
}
.editor__item {
	height: 200px;
	position: relative;
	overflow: hidden;
}
.vieja__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.vieja__content{
	position: absolute;
	top: 50%;
	left: 32%;
	color: white;
	transform: translate(-50%,-50%);
	width: 60%;
	z-index: 999;
}
.home {
	color: #4957FC;
	text-decoration: none;
}

/*Estilos del Carrito*/
.cart {
	z-index: 999999999999;
	position: fixed;
	top: 0;
	right: -100%;
	width: 360px;
	min-height: 200vh;
	padding: 20px;
	background: #f7f7f7;
	box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
	transition: 0.3s;
}
.add-cart {
	cursor: pointer;
}
#cart-icon {
	align-items: center;
	color: #551A8B;
	cursor: pointer;
	font-size: 1em;
}
.cart.active {
	right: 0;
}
.cart-title {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	margin-top: 2rem;
}
.cart-box {
	display: grid;
	grid-template-columns: 32% 50% 18%;
	align-items: center;
	grid-gap: 1rem;
	margin-top: 1rem;
}
.cart-img {
	width: 100px;
	height: 100px;
	object-fit: contain;
	padding: 10px;
}
.detail-box {
	display: grid;
	grid-row-gap: 0.5rem;
}
.cart-product-title {
	font-size: 1rem;
	text-transform: uppercase;
}
.cart-price {
	font-weight: 500;
}
.cart-quantity {
	border: 1px solid red;
	outline-color: blue;
	width: 2.4rem;
	text-align: center;
	font-size: 1rem;
}
.cart-remove {
	font-size: 24px;
	color: orange;
	cursor: pointer;
}
.total {
	display: flex;
	justify-content: flex-end;
	margin-top: 1.5rem;
	border-top: 1px solid black;
}
.total-title {
	font-size: 1rem;
	font-weight: 600;
}
.total-price {
	margin-left: 0.5rem;
}
.btn-buy {
	display: flex;
	margin: 1.5rem auto 0 auto;
	padding: 12px 20px;
	border: none;
	background: #551A8B;
	color: white;
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
}
.btn-buy:hover {
	background: #FF4E00;
}
#close-cart {
	position: absolute;
	top: 1rem;
	right: 0.8rem;
	font-size: 2rem;
	color: black;
	cursor: pointer;
}
/*Estilos del menu*/

.main-nav {
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
	z-index: 9999999;
}
.menu{
  position: absolute;
  top: 200px;
  left: 0;
  background: #212121;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__item {
  text-align: center;
  margin: auto;
}
.menu__link {
padding: 20px;
  color: white;
  text-decoration: none;
  position: relative;
  display: block;
}
.menu__link:hover {
  background: white;
  color: #212121;
}
.mostrar{
  opacity: 1;
  visibility: visible;
}
.icon-menu {
	font-size: 1.5em;
	border: 1px solid #454546;
	display: block;
	padding: 10px 15px;
	cursor: pointer;
	margin-left: auto;
}
.main-header__btn {
	display: block;
	padding: 10px 30px;
	color: #454546;
	border: 1px solid #454546;
	text-decoration: none;
}
.main-header__input {
	display: block;
	padding: 10px;
	width: 50%;
}
.main {
	padding: 0 20px;
}

/* ESTILOS DEL SLIDER */

.container-slider {
	margin: 50px 0;
	position: relative;
	overflow: hidden;
}
.slider {
	display: flex;
	width: 400%;
	height: 300px;
	margin-left: -100%;
	position: relative;
}
.slider:before {
	content: "";
	position: absolute;
	z-index: 1;
	width: 100%;
	background: rgba(0, 0, 0, .5);
	height: 100%;
}
.slider__section {
	width: 100%;
	position: relative;
}
.slider__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.slider__btn {
	position: absolute;
	width: 40px;
	height: 40px;
	background: rgba(255, 255, 255, 0.7);
	top: 50%;
	transform: translateY(-50%);
	font-size: 30px;
	font-weight: bold;
	font-family: monospace;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	z-index: 999;
}
.slider__btn:hover {
	background: #fff;
}
.slider__btn--left {
	left: 10px;
}
.slider__btn--right {
	right: 10px;
}
.slider__content{
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
	transform: translate(-50%,-50%);
	width: 60%;
	text-align: center;
	z-index: 999;
}
.slider__title {
	font-size: 2.2em;
	margin:0;
}
.slider__txt {
	margin: 5px 0;
}
.btn-shop {
	display: block;
	border: 1px solid #FF4E00;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	width: 150px;
	margin: 20px auto;
	transition: all 0.5s;
}
.btn-shop:hover {
	background:#FF4E00;
	color: white;
}
.container-products {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 15px;
}
.product {
	border: 1px solid #ccc;
	padding: 20px;
	text-align: center;
	position: relative;
}
.product:before {
	content: "New";
	background: #FF4E00;
	padding: 10px;
	width: 60px;
	position: absolute;
	top: 20px;
	right: 10px;
	transform: rotate(-90deg);
	color: white;
}
.product__img {
	width: 100%;
	height: 270px;
	object-fit: contain;
}
.product__title {
	text-align: center;
}
.product__price {
	color: #FF4E00;
	font-weight: bold;
	font-size: 1.3em;
}
.product__icon {
display: block;
margin-top: 10px;
}
.product:hover .product__icon {
	color: #FF4E00; 
}
.comprar {
	display: block;
	text-decoration: none;
	background: #00b1ea;
	padding: 5px;
	border-radius: 3px;
	font-size: 1.5em;
	margin: 10px;
	border: none;
	margin: auto;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.comprar:hover {
	background: #008ac6;
}
.disabled {
	display: block;
	text-decoration: none;
	background: grey;
	padding: 5px;
	border-radius: 3px;
	font-size: 1.5em;
	margin: auto;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.grey {
	color: grey;
}
.blue {
	color: white;
}
.container__brands {
	text-align: center;
	background: #f7f7f7;
	padding: 20px;
	margin: 20px 0;
}
.container__brands__one {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 15px;
}
.brands__title {
	padding-top: 25px;
	font-size: 2em;
	text-align: center;
}
.brand {
	border: 1px solid #ccc;
	padding: 20px;
	text-align: center;
	position: relative;
	height: 100%;
}
.brand__img {
	width: 100%;
	height: 200px;
	object-fit: contain;
}
.container-editor {
	margin-top: 20px;
}
.editor__item {
	height: 200px;
	position: relative;
	overflow: hidden;
}
.editor__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.editor__circle {
	width: 200px;
	height: 200px;
	border: 2px solid white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: -220px;
	right: -150px;
	color: white;
	padding: 20px;
	padding-bottom: 70px;
	padding-right: 50px;
	font-size: 1.1em;
	text-align: center;
	font-weight: bold;
	transition: all .5s;
}
.editor__item:hover .editor__circle {
	transform: scale(1.2);
	bottom: -90px;
	right: -50px;
	/*backdrop-filter: blur(5px);*/
	background: rgba(0, 0, 0, .5);
}
.editor__item:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .2);
	opacity: 0;
	transition: all 0.5s;
}
.editor__item:hover:before {
	opacity: 1;
}
.container-tips {
	margin: 20px 0;
	text-align: center;
}
.tip {
	font-size: 1.2em;
	color: #333;
	padding: 20px 0;
}
.tip .btn-shop {
	color: #333;
}
.btn-shop:hover {
	color: white;
}
.main-footer {
	background: #151515;
	color: white;
	padding: 30px 20px;
}
.footer__title {
	border-bottom: 1px dotted #555;
	padding-bottom: 20px;
}
.footer__txt {
	color: #555;
}
.footer__link {
	color: #555;
	text-decoration: none;
	display: block;
	padding: 10px 0;
}
.footer__input {
	background: #151515;
	color: #fff;
	width: 100%;
	display: block;
	padding: 20px;
	border: 1px solid #555;
}
.copy {
	color: #555;
}
.lucio {
	color: #FF4E00;
	text-decoration: none;
}
.filtro {
	display: none;
}

.order {
    min-width: 75%;
	display: none;
	padding-bottom: 35px;
}

.order-table {
    width: 100%;
    text-align: center;
    font-size: large;
    padding-bottom: 20px;
    border-bottom: 1px solid #9e9e9e;;
}
.order-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.order-actions button{
	border-radius: 3px;
	padding: 12px 20px;
	border: none;
	color: white;
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
}
.order-actions button:hover {
    cursor: pointer;
}
.volver {
	margin-right: 40px;
	background-color: #FF4E00;
}
.volver:hover {
	background-color: red;
}
.confirmar {
	margin-left: 40px;
	background-color:#551A8B;
}
.confirmar:hover {
	background-color: blue;
}
.product-cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 15px;
}
.orden {
	text-align: center;
}
.order-shipping {
    font-size: large;
    padding-bottom: 20px;
    border-bottom: 1px solid #9e9e9e;
	text-align: center;
}
.direccion {
	text-align: center;
}

.order-shipping .form-group {
    padding-bottom: 5px;
}

input {
    border-radius: 4px;
    border: 1px solid #9e9e9e;
}
.guitars, .bass, .drums {
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}
.order {
	background-color: #f7f7f7;
	padding: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.cantidad {
	color: #551A8B;
}


/*ESTILOS PARA TABLETS*/

@media screen and (min-width: 768px) {
	.slider {
		height: 400px;
}
	.editor__item {
		height: 250px;
	}
	.editor__item1 {
		height: 250px;
	}
	.product__img {
		height: 400px;
	}
	.container-tips {
		margin: 50px 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 25px;
	}
	.container__brands {
		margin: 50px 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 25px;
	}
}

/* ESTILOS PARA WEBS */

@media screen and (min-width: 1024px) {
	.container{
		width: 1000px;
		margin: auto;
	}
	.icon-menu {
		display: none;
	}
	.main-header .container--flex {
		display: flex;
		align-items: center;
	}
	.main-header__container {
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.main-header__txt {
		width: 100%;
	}
	.main-header__container:nth-child(2) {
		order: -1;
		width: 25%;
	}
	.main-header__container:nth-child(3) {
		width: 25%;
		padding: 0 20px;
	}
	.main-header__title {
		width: 100%;
		font-size: 4em;
		margin: 0;
		border-bottom: 1px solid #ccc;
	}
	.main-header__link {
	margin-bottom: 20px;
	}

	.main-header__btn {
	width: 130px;
	padding: 10px;
	margin-bottom: 20px;
}
	.main-header__input {
		width: 85%;
	}
	#cart-icon {
		font-size: 1.3em;
	}
	.main-nav {
		visibility: visible;
		opacity: 1;
		width: 100%;
		margin-top: 20px;
	}
	.menu {
		position: static;
		width: 100%;
		display: flex;
		background: none;
	}
	.menu__link {
		color: #333;
	}
	.menu__link:hover {
		background: #333;
		color: white;
	}
	.container-products {
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 15px;
	}
	.product-cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 15px;
	}
	.product__img {
		height: 215px;
	}
	.container__brands {
		font-size: 1.5em;
	}
	.container__brands {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 15px;
}
	.container-editor {
		display: flex;
		justify-content: space-between;
	}
	.editor__item {
		width: 48%;
	}
	.editor__item1 {
		width: 100%;
		object-fit: contain;
	}
	.vieja__title {
	font-size: 2.2em;
	}
	.main-footer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 20px;
		margin-top: 30px;
	}
	.copy {
		grid-column-start: span 4;
		text-align: center;
	}
}


@media screen and (min-width: 1280px) {
	.container{
		width: 1200px;
	}
	.main-header__container:nth-child(3) {
		padding-left: 60px;
	}
	.main-header__container:nth-child(2) {
		font-size: 1.3em;
	}
	.slider {
		height: 500px;
		font-size: 1.5em;
	}
	.product__img {
		height: 400px;
	}
}

@media screen and (min-width: 1600px) {
	.container{
		width: 1500px;
	}
	.main-header__container:nth-child(3) {
		padding-left: 100px;
	}
	.main-header__container:nth-child(2) {
		font-size: 1.5em;
	}
	.slider {
		height: 600px;
	}
	.product__img {
		height: 500px;
	}
}	